<div class="timer-container">
  <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error: </strong><%= flash[:error] %>
    </div>
  <% end %>

  <h1>[<%= @name%>]Self Work Timer</h1>
	
  <div id="time-control">
  <input type='text' id='done-desc' name='done-desc' placeholder='请输入完成的工作' class="done-desc">
  <span id="timer-button">
  <% if @timer.status == Timer::Status::INITIAL %>
    <%= button_to "Start",
      { controller: "timers", action: "create" },
        method: :post, class: "btn btn-primary btn-xl" %>
  <% else %>
    <% if @timer.id %>
      <% if @timer.status == Timer::Status::PAUSED %>
        <%= button_to "Stop",
          { controller: "timers", action: "stop", id: @timer.id},
            method: :post, class: "btn btn-danger btn-xl" %>

        <%= button_to "Resume",
          { controller: "timers", action: "resume", id: @timer.id},
            method: :post, class: "btn btn-success btn-xl" %>
      <% end %>

      <% if @timer.status == Timer::Status::RUNNING %>
        <%= button_to "Pause",
          { controller: "timers", action: "pause", id: @timer.id},
            method: :post, class: "btn btn-info btn-xl" %>
      <% end %>

      <% if @timer.status == Timer::Status::COMPLETED %>
        <button class="btn btn-primary btn-xl" id="submit-desc" onclick="descDone()">提交</button>
      <% end %>

    <% end %>
  <% end %>
  </span>
  </div>

  <div class="footer">
    <div class="message">
      <%= @stats.completed_counts_on(current_user, Time.zone.today) %> | 
      <span id="timer-time" class="timer-time">
        <%= seconds_to_timer_str(@timer.remaining_seconds) %>
      </span>
    </div>
  </div>

  <%= javascript_tag do %>
    window.remainingSeconds = "<%= @timer.remaining_seconds %>";
    window.isCountingDown   = "<%= @timer.status == Timer::Status::RUNNING %>";
    window.timerId          = "<%= @timer.id %>";
    window.showDesc         = "<%= @show_desc%>";
  <% end %>
</div>
</div>
